* {
	box-sizing: border-box;
}

body {
	font-family: "Quicksand",sans-serif;
	min-width: 280px;
}

.cursor:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: black;
}

.mask:after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -1;
}

.mask_100:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}